@import '../../resources/scss/imports.scss';

.projectHeader {
    margin-bottom: 20px;
}

.title {
    @include rfz(28px, 36px);

    margin: 0;
    line-height: (39px / 36px);
}

.client {
    @include rfz(16px, 18px);

    color: color('grey');
}
