@import '../../resources/css/global/00-imports.scss';


.projectHeader {
    margin-bottom: spacer(1);
}


.title {
    @include rfz(28px, 36px);

    margin: 0;
    line-height: (39px / 36px);
}


.client {
    @include rfz(24px, 26px);

    color: color('grey');
}
