@import '../../../../scss/global/00-imports.scss';


/* ------------------------------------ *\
    #LAYOUT
\* ------------------------------------ */


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.layout {
    margin-bottom: spacer(1);

    @include media('sm') {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: spacer(3);
        grid-gap: 40px;
    }
}


.content {
    position: relative;
}

.bleedTop {
    margin-top: -130px;
}

.bleedBottom {
    margin-bottom: -110px;
}

.aside {
    @include media('sm') {
        position: relative;
    }
}

.asideOffset {
    margin-top: 50px;
}


// .layout__sticky {
//     width: 100%;
//     position: sticky;
//     top: 0;
//     left: 0;
//     animation: fadeIn 0.75s forwards;
//
//     @include media('sm') {
//         padding-top: 5vh;
//     }
// }
