@import '../../../../scss/global/00-imports.scss';

.projectGrid {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 10px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include media('sm') {
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    @include media('lg') {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.wide {
    grid-column: span 2;
}

.item {
    align-self: end;
}
