
.list {
    list-style: none;
    height: 68px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 20px;
}

.item {
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 1.25em;
    position: relative;
}

.tag {
    display: inline-block;
    padding: 2px 12px 3px 8px;
    background: #eee;
    border-radius: 5px;
    white-space: nowrap;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #888;

    &::before {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        right: 4px;
    }

    @media (prefers-color-scheme: dark) {
        background: #000;
        color: color('grey-light');
    }
}
