@import '../../resources/css/global/00-imports.scss';

.canvas {
    background: $gradient;
    background-size: 200vw 100%;
    display: block;

    @include media('sm') {
        background-size: 100% 100%;
    }
}
