@import 'imports';

/* ------------------------------------ *\
    #FOOTER
\* ------------------------------------ */

.footer {
    overflow: hidden;
    // margin-top: -35px;
    padding: spacer(6) 0 20px;
    color: darken(#fff, 20%);
    position: relative;
    z-index: 0;

    &::after {
        content: '';
        display: block;
        margin-top: 90px;
        width: 105%;
        background: color('black');
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        transform-origin: left top;

        @supports (clip-path: polygon(0 0)) {
            margin-top: 60px;
            clip-path:
                polygon(
                    0 0,
                    100% 40px,
                    100% 101%,
                    0 101%
                );
        }

        @media (prefers-color-scheme: dark) {
            background: #000;
        }
    }
}

.canvas {
    display: block;
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    @supports (clip-path: polygon(0 0)) {
        clip-path:
            polygon(
                0 40px,
                100% 0,
                100% 100%,
                0 100%
            );
    }
}
